<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <strong>Posted by <%= link_to post.user.full_name, user_path(post.user) %></strong>
  <p>
    <strong>Category:
      <%= link_to post.category.name, category_path(post.category) %>
    </strong>
  </p>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>
  <p>
    <%= pluralize(post.views, "view") %>
  </p>
</div>
